* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  gap: 5px;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
  border: 1px solid black;

  display: grid;
  grid-template: 1fr 2fr / 4fr 1fr;

  padding: 20px;
}

.header .search_bar {
  grid-area: 1 / 1 / 2 / 2;
}

.header .search_bar img {
  height: 1em;
  width: 1em;
}

.header .search_bar input {
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.header .user_info {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.header .user_info .greeting_image img {
  height: 2em;
  width: 2em;
  border-radius: 50%;

  grid-area: 1 / 1 / 2 / 3;
}

.header .user_info .user_name_greeting {
  grid-area: 1 / 2 / 2 / 3;
}

.header .profile_section {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header .profile_section .bell img {
  height: 1em;
  width: 1em;
}

.header .profile_section .profile_pic img {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.header .project_buttons {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header .project_buttons button {
  color: white;
  background-color: blue;
  border: none;
  border-radius: 12px;
  padding: 5px;
  height: 2em;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: white;
  border: 1px solid black;
}

.main {
  grid-area: 2 / 2 / 3 / 3;
  background-color: white;
  border: 1px solid black;
}
