* {
  margin: 0;
  padding: 0;
}

.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  gap: 5px;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
  border: 1px solid black;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: white;
  border: 1px solid black;
}

.main {
  grid-area: 2 / 2 / 3 / 3;
  background-color: white;
  border: 1px solid black;
}
