* {
  margin: 0;
  padding: 0;
}

.search_bar,
.greeting,
.greeting_image,
.user_name_greeting,
.profile_section,
.project_buttons {
  border: 1px solid;
}


.grid-container {
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  gap: 5px;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
  border: 1px solid black;

  display: grid;
  grid-template: 1fr 2fr / 4fr 1fr;
  gap: 5px;

  padding: 20px;
}

.search_bar {
  grid-area: 1 / 1 / 2 / 2;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* display: grid; */
  /* grid-template-columns: 5% 95%; */

}

.search_bar img {
  height: 1em;
  width: 1em;
  /* padding-top: 10px; */
}

.search_bar input {
  background-color: lightgray;
  border: none;
  border-radius: 20px;
  padding: 5px;
  flex-grow: 1;
}

.greeting {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.greeting_image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting_image img {
  height: 3em;
  width: 3em;
  border-radius: 50%;

  grid-area: 1 / 1 / 2 / 3;
}

.user_name_greeting {
  grid-area: 1 / 2 / 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile_section {
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 25vw;
}

.bell img {
  height: 1em;
  width: 1em;
  padding-top: 10px;
}

.profile_pic img {
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

.project_buttons {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-left: 25vw;
}

.project_buttons button {
  color: white;
  background-color: blue;
  border: none;
  border-radius: 12px;
  padding: 5px;
  height: 2em;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: white;
  border: 1px solid black;
}

.main {
  grid-area: 2 / 2 / 3 / 3;
  background-color: white;
  border: 1px solid black;
}
