* {
  margin: 0;
  padding: 0;
}

.search_bar,
.greeting,
.greeting_image,
.user_name_greeting,
.profile_section,
.project_buttons {
  /* border: 1px solid; */
}


.grid-container {
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
  gap: 5px;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
  /* border: 1px solid black; */

  display: grid;
  grid-template: 1fr 2fr / 2fr 2fr 2fr;
  gap: 5px;

  padding: 20px;

  box-shadow: 0px 5px 5px lightgray;
}

.search_bar {
  grid-area: 1 / 1 / 2 / 3;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 10vw;
}

.search_bar img {
  height: 1em;
  width: 1em;
}

.search_bar input {
  background-color: lightgray;
  border: none;
  border-radius: 20px;
  flex-grow: 1;
  padding: 5px;
  margin-left: 10px;
}

.greeting {
  grid-area: 2 / 1 / 3 / 2;

  display: flex;
  justify-content: flex-start;
}

.greeting_image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.greeting_image img {
  height: 4em;
  width: 4em;
  border-radius: 50%;

  grid-area: 1 / 1 / 2 / 3;
}

.user_name_greeting {
  grid-area: 1 / 2 / 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile_section {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile_section a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.bell img {
  height: 2em;
  width: 2em;
}

.profile_pic img {
  height: 3em;
  width: 3em;
  border-radius: 50%;
}

.project_buttons {
  grid-area: 2 / 3 / 3 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project_buttons button {
  color: white;
  background-color: dodgerblue;
  border: none;
  border-radius: 20px;
  padding: 10px;

  font-weight: bold;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: white;
  border: 1px solid black;
}

.main {
  grid-area: 2 / 2 / 3 / 3;
  background-color: white;
  border: 1px solid black;
}
